@font-face{
	font-family: Round;
	src: url('custom_fonts/Typo_Round_Regular_Demo.otf');
}

@font-face{
	font-family: Roboto;
	src: url('custom_fonts/Roboto-Regular.ttf');
}

body{
	background-color: #fff;
}

/*.login-bg{
	background-color: #2ecc71;
}*/

.form-container{
	border: 1px solid #bdc3c7;
	padding: 50px 60px;
	margin-top: 20vh;
}